.board {
    float: left;
    margin: 20px;
    padding-left: 20px;
    width: 400px;
    height: 230px;
    border: 3px solid orange;
    border-collapse: collapse;
}

span {
    float: right;
    margin: 20px;
    border: 3px solid white;
    background-color: greenyellow;
}

.more {
    float: right;
    margin: 20px;
    border: 3px solid white;
    background-color: pink;
}