<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>main</title>
    <link rel="stylesheet" href=" ./css/board_main.css" />
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>

<body>
    <span>
        <a href="booking.html">Booking</a>
    </span>
    <span>
        <a href="my_pet.html">My Pet</a>
    </span>
    <span>
        <a href="login.html">Log out</a>
    </span>

    <p></p>
    <header>
        <h1>아프지 말개냥</h1>
    </header>


    <div class="board" id="b1">
        <h3>즐겨찾는 게시판</h3>
        <p v-for="c in list_like">
            <a :href="c.link">{{c.name}}</a>
        </p>
        <span class="more">
                <a href="board_more.html">더보기</a>
            </span>
    </div>
    <p></p>
    <div class="board" id="b2">
        <h3>실시간 인기글</h3>
        <p v-for="c in list_now">
            {{c.title}}
        </p>
        <span class="more">
                <a href="board_more.html">더보기</a>
        </span>
    </div>

    <script src="./js/board_main.js"></script>
</body>

</html>