<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="./css/login.css">
  <title>아프지말개냥</title>
</head>

<body>
  <h1>아프지말개냥</h1>
  <div id="login">
    <div class="container">
      <label for="uname"><b>ID</b></label>
      <input type="text" v-model="id" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" v-model="psw" placeholder="Enter Password" name="psw" required>

      <button type="submit" v-on:click="login_button">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="sign_up" v-on:click="sign_up">Sign up</button>
      <span class="psw">Forgot <a href="#">password?</a></span>


    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./js/login.js"></script>
</body>

</html>