<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>food</title>
    <link rel="stylesheet" href=" ./css/board_food.css" />
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>

<body>
    <span>
                <a href="booking.html">Booking</a>
            </span>
    <span>
                <a href="my_pet.html">My Pet</a>
            </span>
    <span>
                <a href="log_in.html">Log out</a>
            </span>
    <p></p>
    <header>
        <h1><a href="board_main.html">아프지 말개냥</a></h1>
    </header>
    <hr>

    <h1>FOOD</h1>
    <p></p>

    <div id="exmaple">
        <span>
            검색 :
            <select name="selected" id="selected">
                    <option value="title">제목</option>
                    <option value="writer">작성자</option>
            </select> 
            <input type="text" v-model="text_name" placeholder="검색" />
        </span>

        <table id="list">
            <thead>
                <tr>
                    <th>No</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성시간</th>
                    <th>조회수</th>
                    <th>좋아요</th>
                </tr>
            </thead>
            <tbody id="contacts">
                <tr v-for="c in filtered">
                    <td>{{c.no}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.writer}}</td>
                    <td>{{c.time}}</td>
                    <td>{{c.view}}</td>
                    <td>{{c.like}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="./js/board_food.js"></script>
</body>

</html>